<html>
<body>
<div class="container">
  <div class="card">
     <div class="title"><b>{{userData.role}}</b></div>
          <div class="row">
              <div class="col-md-6">
                  <div class="myLeftCtn">
                        <form class="myForm text-center"  [formGroup]="Modifier" (ngSubmit)="onSubmit()"   *ngIf="userData">
                          <div class="form-group">
                            <i class="fas fa-user" id="i"></i>
                            <input class="myInput" type="text" formControlName="username" value="{{userData.username}}" readonly>
                          </div>
                            <div class="form-group">
                              <i class="fas fa-envelope" id="i"></i>
                                <input class="myInput" type="email"formControlName="email" value="{{userData.email}}">
                                <small *ngIf="Modifier.controls['email'].touched &&Modifier.controls['email'].hasError('required')">*saisir un email</small>
                                <small *ngIf="Modifier.controls['email'].hasError('email')">*email invalide</small>
                            </div>
                            <div class="form-group">
                                <i class="fas fa-lock" id="i"></i>
                                <input class="myInput" type="password" formControlName="password" placeholder="saisir ou bien changer le mot de passe">
                                <div>
                                <small *ngIf="Modifier.controls['password'].hasError('required')">*Saisir un mot de passe</small>
                                <small *ngIf="Modifier.controls['password'].hasError('passwordLength')">*Mot de passe invalide</small></div></div>
                              <div class="form-group">
                                <i class="fas fa-lock" id="i"></i>
                                <input class="myInput" type="password" formControlName="password_confirmation" placeholder="confirmer votre mot de passe">
                                <small *ngIf="Modifier.controls['password_confirmation'].touched &&Modifier.controls['password_confirmation'].hasError('required')">*confirmer votre mot de passe </small>
                                <small *ngIf="Modifier.controls['password_confirmation'].hasError('passwordMatch')">*Mot de passe incorrecte</small>
                             </div>

                             <button class="butt"  type="submit " ><span>modifier</span> </button>


                        </form>




  </div>
</div>
</div>
</div>
</div>

</body>
</html>
