<nav class="navbar fixed-top navbar-expand-lg  "  >

    <a class="navbar-brand" routerLink="home" href="" id="home">
      <img src="../assets/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
         SRTB
      </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" routerLink="authentification" *ngIf="!isUserAuthenticated()" >S'authentifier</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="" routerLink="Inscription" *ngIf="!isUserAuthenticated()" >Créer un Compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="isUserAuthenticated() && role()=='Responsable RH'" routerLink="rapports">Rapports des chauffeurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="isUserAuthenticated() && role()=='Responsable RH'" routerLink="rapports_recette">Rapports des recettes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="isUserAuthenticated() && role()=='Responsable RH' " routerLink="rapports_vehicule">Rapports des vehicules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="isUserAuthenticated() && role()=='Admin'" routerLink="admin">Espace administrateur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="isUserAuthenticated() && role()=='Agent de planification' || role()=='Responsable recette' " routerLink="voyages">Espace de planification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="isUserAuthenticated() && role()=='Agent de planification'" routerLink="liste_vehicules">Demande de réparations des vehicules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="isUserAuthenticated() && role()=='Responsable technique' " routerLink="liste_vehicules_en_pannes">Liste des vehicules en pannes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="isUserAuthenticated() && role()=='Responsable énergétique' " routerLink="versements_vehicules">Espace responsable energétique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="isUserAuthenticated() && role()=='Chauffeur' " routerLink="affectation">Les affectations de travail</a>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto">

        <li class="nav-item me-3 me-lg-1" >
          <a class="nav-link d-sm-flex align-items-sm-center" href="" routerLink="profile" *ngIf="isUserAuthenticated()" >
            <strong class="d-none d-sm-block ms-1">{{UserAuthenticated()}}</strong>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="" (click)="signout()" *ngIf="isUserAuthenticated()" >Se déconnecter</a>
        </li>

      </ul>
    </div>

</nav>

<router-outlet></router-outlet>
