<!DOCTYPE html>
<html>
<div class="sidebar">
  <div class="content">
<body>
    <div class="main-container">
        <div class="left-menu">
            <ul>
                <li class="sidebar-item"><div class="sidebar-link" (click)="change('users')" [routerLinkActive]="'active'"><i class="fa-solid fa-user"></i> Utilisateurs </div>
                </li>
                <li class="sidebar-item"><div class="sidebar-link" (click)="change('types')" [routerLinkActive]="'active'"><i class="fa-solid fa fa-tag"></i>types</div>
                </li>
                <li class="sidebar-item"><div class="sidebar-link" (click)="change('marques')" [routerLinkActive]="'active'"><i class="fa-solid fa-shield-halved"></i>marques</div>
                </li>
                <li class="sidebar-item"><div class="sidebar-link" (click)="change('vehicules')" [routerLinkActive]="'active'" ><i class="fa-solid fa-bus"></i> Vehicules </div>
                </li>
                <li class="sidebar-item"><div class="sidebar-link" (click)="change('arrets')" [routerLinkActive]="'active'"><i class="fa-solid fa-location-dot"></i>Arrets</div>
                </li>
                <li class="sidebar-item"><div class="sidebar-link" (click)="change('lignes')" [routerLinkActive]="'active'" ><i class="fa-solid fa-road"></i> Lignes </div>
                </li>
                <li class="sidebar-item"><div class="sidebar-link" (click)="change('services')" [routerLinkActive]="'active'"><i class="fa-solid fa-route"></i>services </div></li>
            </ul>
        </div>
    </div>
</body>
</div>
</div>
</html>


