body {
  background-color: #F3F4F9;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
small{
  font-size: 3mm;
  color: rgb(185, 5, 5);
  margin-right: 10px;
  margin-left: 10px;
  padding-top:5px;
}

#form-container {
  height: -1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-inner-container {
  background-color: white;
  max-width: 70%;
  margin-top: 100px;
  border-radius: 8px;
  box-shadow: 0 0 20px gainsboro;
}

#sign-up-container, #sign-in-container {
  padding: 50px 100px;
  width: 800px;
  display: inline-block;
}
#password{
  display: block;
  margin-bottom: 20px;
  border: 1px solid #E5E9F5;
  background-color: #efe6ef;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
}

form input {
  display: block;
  margin-bottom: 20px;
  border: 1px solid #E5E9F5;
  background-color: #efe6ef;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
}
select{
  display: block;
  margin-bottom: 20px;
  border: 1px solid #E5E9F5;
  background-color: #efe6ef;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
}

#form-controls {
  margin-bottom: 20px;
}


h3 {
  color:  #803e76;
  font-size: 150%;
  font-weight: 500;
}

label {
  color: #7369AB;
}

::placeholder {
  color: #C0C7DB;
  font-size: larger;
  letter-spacing: 1.2px;
}

#form-controls button {
  border: none;
  font-size: 120%;
}

#form-controls button:hover {
  cursor: pointer;
}

button[type="submit"] {
  padding: 10px 60px;
  background-color: #803e76;
  border-radius: 10px;
  color: white;

}

button[type="submit"]:hover {
  background-color: purple;
}

.centre{
  text-align: center;
}

#terms {
  width: 30px;
  height: 30px;
  appearance: none;
  border: 2px solid #7369AB;
  border-radius: 4px;
  position: relative;
}

#terms:checked:after {
  content: '\2713';
  color: #7369AB;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 3px;
}

label[for="terms"] {
  display: inline-block;
  width: 80%;
  margin-left: 10px;
}

.termsLink {
  color: #EF7886;
  text-decoration: none;
}

.hide {
  display: none!important;
}


/* responsive display */

@media(max-width:1438px) {
  lottie-player {
      width: 300px!important;
  }
}

@media(max-width:1124px) {
  #animation-container {
      display: none;
  }

  #form-inner-container{
      display: flex;
      justify-content: center;
  }
}

@media(max-width: 684px) {
  #form-controls {
      text-align: center;
      margin: 0;
      padding: 0;
  }

  button {
      width: 100%;
  }

  form input {
      width: 85%;
  }

  #toggleSignIn, #toggleSignUp {
      padding: 16px 75px;
  }

  #terms {
      width: 20px;
      height: 20px;
  }

  label[for="terms"] {
      display: inline-block;
      font-size: smaller;
  }
}
