<header>
  <div class="wrapper">
</div>
<div class="welcome-text">
  <div class="line">
    <h1 class='lineUp'>Bienvenue chez SRTB</h1>
  </div>

  </div>
</header>
<html lang="en" dir="ltr">
<body>
  <footer class="text-center text-lg-start text-muted" style="background-color:  #140117;">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="container text-center text-md-start mt-5 border-bottom">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4 text-white">
              <i class="fas fa-gem me-3 text-secondary text-white"></i>SRTB
            </h6>
            <p class="text-white">
              La Société régionale de transport du gouvernorat de Béja ou SRTB est une société publique tunisienne de transport en commun crée le 22 Janvier 1963.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4 text-white">
            Services
            </h6>
           <p class="text-white">La société SRTB, STE régionale de transport de béja spécialisée transports urbains et regionaux de voyageurs.</p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4 text-white">
              Contacs
            </h6>
              <i class="fa fa-phone text-white"></i><div class="ligne"><p  class="text-white ">(00216) 78 442 000</p></div><br>
              <i class="fa fa-globe text-white"></i> <div class="ligne"><a href=" http://www.srtbeja.tn" class="text-white ">site internet</a></div><br>
              <i class="fa fa-map-marker text-white"></i><div class="ligne"><a href="https://www.google.com/maps/place/SRTBeja/@36.7262325,9.1910685,15z/data=!4m2!3m1!1s0x0:0x10a96d66b2f16888?sa=X&hl=fr&ved=2ahUKEwjy7Iv78rr9AhXLVPEDHTy7B7MQ_BJ6BAhjEAg" class=" text-white">Localisation</a></div><br>
              <i class="fas fa-envelope  text-white"></i><div class="ligne"><p class="text-white">transport.beja@hexabyte.tn</p></div>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4 text-white" style="background-color: #140117;">
      © 2023 Copyright:
      <a class="text-white fw-bold">SRTB</a>
    </div>
  </footer>

